@model MedClinic.Model.PatientModel
@{
    ViewData["Title"] = "Home";
    var isOwner = User.Identity.Name == Model.Email;
}
<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <div class="row">
                @if (string.IsNullOrEmpty(Model.Photo))
                {
                    @Html.Partial("../Shared/NoPhotoView");
                }
                else
                {
                    <img src="@Model.Photo" class="img-thumbnail" />
                }
            </div>
            <div class="row">
                <div class="col-lg-12 p-1">
                    <a href="\patient\">
                        <button type="button" class="btn btn-primary w-100">
                            Профиль
                        </button>
                    </a>
                </div>
                <div class="col-lg-12 p-1">
                    <a href="\patient\edit">
                        <button type="button" class="btn btn-outline-primary w-100">
                            Редактировать
                        </button>
                    </a>
                </div>
                <div class="col-lg-12 p-1">
                    <button type="button" class="btn btn-outline-primary w-100">
                        Запись к специалисту
                    </button>
                </div>
                <div class="col-lg-12 p-1">
                    <a href="\patientData\@Model.Id">
                        <button asp-action="PatientData" asp-controller="Patient" type="button" class="btn btn-outline-primary w-100">
                            Результаты анализов
                        </button>
                    </a>
                </div>
                <div class="col-lg-12 p-1">
                    <a href="\patientConclusions\@Model.Id">
                        <button type="button" class="btn btn-outline-primary w-100">
                            Заключения специалистов
                        </button>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="row">
                <div class="col-lg-12 profile-wrapper">

                    <form asp-action="Edit" asp-controller="Patient" autocomplete="off" enctype="multipart/form-data">
                        <div class="form-group row">
                            <label asp-for="FullName" class="col-sm-2 col-form-label">ФИО</label>
                            <div class="col-sm-10">
                                <input type="text" asp-for="FullName" class="form-control-plaintext">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="MedData" class="col-sm-2 col-form-label">Данные страхового полиса</label>
                            <div class="col-sm-10">
                                <input type="text" asp-for="MedData" class="form-control-plaintext">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="PassData" class="col-sm-2 col-form-label">Паспортные данные</label>
                            <div class="col-sm-10">
                                <input type="text" asp-for="PassData" class="form-control-plaintext">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="IsMan" class="col-sm-2 col-form-label">Мужчина</label>
                            <div class="col-sm-10">
                                <input asp-for="IsMan" class="form-control-plaintext">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="IsWoman" class="col-sm-2 col-form-label">Женщина</label>
                            <div class="col-sm-10">
                                <input asp-for="IsWoman" class="form-control-plaintext">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="PhotoBytes" class="col-sm-2 col-form-label">Загрузка фото</label>
                            <div class="col-sm-10">
                                <input asp-for="PhotoBytes" type="file">
                            </div>
                        </div>
                        <div>
                            <input type="submit" value="Подтвердить" class="btn-outline-success" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>