@model MedClinic.Models.LoginModel

<style>
    .centerr {
        margin: 0 auto;
        width: 70%;
    }
</style>
<form asp-action="Login" asp-controller="Account" asp-anti-forgery="true">
    <div class="validation" asp-validation-summary="ModelOnly" />
    <div class="centerr container">
        <h2 class="text-center">Вход на сайт</h2>
        @Html.Partial("../shared/textbox", ("Email", "Введите Email", @Model?.Email, true, "text"))
        @Html.Partial("../shared/textbox", ("Password", "Введите пароль", @Model?.Password, true, "password"))
        <div class="form-group">
            <input type="submit" value="Войти" class="btn btn-outline-dark" />
        </div>
    </div>
</form>