@model MedClinic.Models.LoginModel

<style>
    .centerr {
        margin: 0 auto;
        width: 70%;
    }
    .errorBox {
        /*border:1px solid red;*/
        border-radius: 3px;
        background: pink;
        color: red;
        text-align: center;
        font-size: 18px;
    }
</style>
<form asp-action="Login" asp-controller="Account" asp-anti-forgery="true">
    <div class="errorBox w-100">
        <div>@Html.ValidationMessageFor(m => m.Email)</div>
        <div>@Html.ValidationMessageFor(m => m.Password)</div>
    </div>
    <div class="centerr container">
        <h2 class="text-center">Вход на сайт</h2>
        @Html.Partial("../shared/textbox", ("Email", "Введите Email", @Model?.Email, true, "text"))
        @Html.Partial("../shared/textbox", ("Password", "Введите пароль", @Model?.Password, true, "password"))
        <div class="form-group">
            <input type="submit" value="Войти" class="btn btn-outline-dark" />
        </div>
    </div>
</form>